/* --------- Dropdown -------- */
.Dropdown {
    list-style: none;
    max-width: 33rem;
    margin: 0 auto;
    padding: 0;
    display: flex;
    border-radius: var(--box-radius);
    box-shadow: var(--box-shadow);
    background: var(--box-bg);
}
.Dropdown > * + * {
    border-left: 1px solid #eee;
}
.Dropdown__li {
    position: relative;
    flex-grow: 1;
}

/* Menu item */
.Dropdown__button {
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    position: relative;
    display: block;
    padding: .75em 1.5em;
    border-radius: var(--box-radius) var(--box-radius) 0 0;
    cursor: pointer;

}
.Dropdown__button--active {
    color: #333;
    background: var(--box-bg);
}

/* Submenu */
.Dropdown__content {
    text-align: center;
    list-style: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 100;
    box-sizing: border-box;
    min-width: 100%;
    padding: .5em .75em;
    border-radius: 0 0 var(--box-radius) var(--box-radius);
    box-shadow: 0 .75rem .75rem rgba(0, 0, 0, .1);
    background: var(--box-bg);
    transform-origin: 50% 0;
    transition: opacity .2s, transform .2s;
    will-change: opacity, transform;
}
.Dropdown__content--hidden {
    opacity: 0;
    transform: scaleY(0);
    transition: opacity .2s, transform .2s;
}
.Dropdown__content > * + * {
    border-top: 1px solid #eee;
}
.Dropdown__content-link {
    display: block;
    padding: .25em .75em;
    cursor: pointer;
}
