{% extends '@box.twig' %}

{% set box = {
    root: 'Header',
    showSkeleton: false,
}|merge(box ?? {}) %}

{% block box_content %}
    <header class="{{ r }}">
        <h1 class="{{ r }}__title">Class Toggler Demos</h1>
        <p class="{{ r }}__text">
            <a href="https://github.com/vyvrhel/class-toggler/">View <strong>Class Toggler</strong> on GitHub</a>
        </p>
    </header>
{% endblock %}
